/* nav li {
  list-style-type: none; 
  display: inline-block; 
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: #333;
  font-family: Arial, sans-serif; 
  padding: 10px 15px; 
  display: block;
}

nav li a:hover {
  background-color: #eee; 
  color: #000;
}

body{
    background-color:rgb(255, 253, 241);
    display: flex;
    flex-direction: column;
}

footer {
  flex-shrink: 0; 
  background: #333;
  color: white;
  padding: 20px;
}

.text_services {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-right: 10px;

}

.img_python{
    width: 300px;         
    height: 300px;       
    border-radius: 15px;
    object-fit: cover;
    margin-left: 10px;
    margin-left: 10px;
}

.phone_numbers{
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    letter-spacing: 0.5px;
}

.link{
    color: #0080ff;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

input {
  border: 3px solid green;
  border-radius: 10px;
  padding: 5px;
}

input:focus{
  background-color: aqua;
}

button {
  padding: 5px;
  border: 3px solid rgb(167, 255, 251);
  background-color: rgb(167, 255, 251);
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif;
  color:white;
}

button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(167, 255, 251);;
}